<main>
  <div class="conteiner">
    <div class="main_base">
      <div class="logo">
        <img src="../../../assets/images/logo.svg" alt="">
      </div>

      <div class="center">
        <p>W E ' R E</p>
        <h2>C O M I N G</h2>
        <h2> S O O N</h2>
        <p class="text">Hello fellow shoppers! We're currently building our new fashion store.
          Add your email below to stay up-to-date with announcements and our launch
          deals.</p>
      </div>
      <div class="form">
       <form action="">
        <input class="input" type="email" placeholder="Email Address">
       </form>
      </div>
    </div>
    <div class="main_imagen">
      <img src="../../../assets/images/hero-desktop.jpg" alt="">
    </div>
  </div>
</main>

